 *{

  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins',sans-serif;
}

body{
  background:#373636;
  color:#fff;

  
  overflow-x:hidden;
}

/* Background Video */
#bgVideo{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  object-fit:cover;
  z-index:-1;
  filter:brightness(65%);

}

/* Header */
header{

  display:flex;
  align-items:center;
  flex-wrap:wrap;
  gap:15px;

  justify-content:space-between;
  padding:18px 30px;
  backdrop-filter:blur(8px);
}
.logo{
  font-size:26px;
  font-weight:700;

  color:   #db4040;

}
.logo span{

  font-size:15px;
  font-weight:400;
  color:#ffffff;

}
 
/* Search */
.search-box{
  display:flex;
  gap:10px;
   
}
.search-box input{
  padding:10px 14px;
  background:rgba(122, 115, 115, 0.25);
  border:1px solid rgba(255,255,255,0.3);
  border-radius:8px;
  color:rgba(255, 255, 255, 0.879);
  width:170px;
}

.search-box input::placeholder{

  color:#ffffffb8;
}

.search-box button{
  padding:10px 14px;
  border-radius:40px;
  color:#ffffff;
  border:none;

  background:rgba(255,255,255,0.25);
  cursor:pointer;
  transition:.3s;
}
.search-box button:hover{
  background:rgba(255,255,255,0.45);
}

.search-history{
  padding:9px 10px;

  background:rgba(255,255,255,0.15);
  border:1px solid rgba(255,255,255,0.3);
  border-radius:8px;
  color:rgba(255, 255, 255, 0.97);
  min-width:150px;
}

/* Unit Switch */
.unit-toggle{
  display:flex;
  align-items:center;
  gap:6px;

  padding:6px 12px;
  border:2px solid rgba(255,255,255,0.5);
  border-radius:30px;

  background:rgba(255,255,255,0.1);
  backdrop-filter:blur(8px);

}
#unitSwitch{
  appearance:none;
  width:46px;


  height:22px;
  border-radius:20px;

  background:#95959547;
  border:1px solid rgba(255,255,255,0.4);
  position:relative;
  cursor:pointer;
  transition:0.3s;


}

#unitSwitch::before{
  content:"";

  position:absolute;
  width:18px;
  height:18px;
  background:white;
  border-radius:50%;

  top:2px;
  left:2px;
  transition:.3s;
}


#unitSwitch:checked{
  background:#0099ff;

}


#unitSwitch:checked::before{
  transform:translateX(24px);

}

/* Main Weather */
.main-weather{
  text-align:center;
  margin-top:25px;

}
#weatherIcon img{
  margin-top:10px;

}
.temp{
  font-size:60px;
  font-weight:700;

}
.feel,.desc{
  font-size:18px;

  margin-top:6px;
}
.place-date p{
  font-size:16px;

  margin-top:4px;
}

/* Headings */
.heading{

  font-size:25px;
  margin:35px 25px 15px;
}

/* Highlight Cards */
.highlights{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
  gap:18px;
  padding:0 25px;


}
.highlights .card{
  padding:18px;
  background:rgba(255,255,255,0.12);
  border-radius:18px;
  text-align:center;

  backdrop-filter:blur(10px);
  transition:.25s;
}

.highlights .card:hover{

  transform:translateY(-5px);
}

.highlights .card i{

  font-size:28px;
  margin:6px 0;
}

/* Forecast Boxes */
.hourly,.weekly{
  display:flex;
  overflow-x:auto;
  gap:18px;
  padding:0 25px 25px;
  scroll-behavior:smooth;
}


.hourly .box,.weekly .box{
  min-width:130px;
  background:rgba(255,255,255,0.10);
  padding:15px;
  border-radius:16px;
  text-align:center;
  backdrop-filter:blur(8px);
  transition:.25s;

}


.hourly .box:hover,.weekly .box:hover{
  transform:translateY(-5px);
}

/* Voice Button */
.voice-button{
  position:fixed;
  bottom:25px;
  right:25px;
  padding:15px 20px;
  font-size:16px;
  
  background:#0095ff;
  border-radius:12px;
  border:none;
  color:#fff;
  cursor:pointer;
  transition:.3s;

}


.voice-button:hover{
  background:#de110d;
}

/* ERROR NOTIFICATION*/
.error{
  text-align:center;

  background:#ff2d2d;
  padding:10px;
  margin:10px 40px;
  border-radius:10px;
  display:none;
  font-weight:600;


}

/* ALERT MESSAGE */
.alert-card{

  position:fixed;
  top:20px;
  right:20px;
  background:#ffae00;
  color:#000;
  padding:15px 20px;
  border-radius:12px;

  font-weight:700;
  animation:fade 8s forwards;

}

@keyframes fade{
  0%{opacity:1;}
  100%{opacity:0;transform:translateY(-20px);}
}

/*   RESPONSIVE DEVISE SETTING   */
@media(max-width:950px){
  .temp{font-size:48px;}
  header{padding:16px 20px;}
}
@media(max-width:768px){
  .search-box input{width:150px;}
  header{flex-direction:column;gap:14px;text-align:center;}
  .unit-toggle{margin-bottom:8px;}
}
@media(max-width:550px){
  .temp{font-size:43px;}
  .heading{font-size:22px;}
  .search-box input{width:130px;}
  .voice-button{
    right:50%;
    transform:translateX(50%);
  }
}
@media(max-width:400px){
  .temp{font-size:38px;}
  .search-box input{width:115px;}
  .logo{font-size:22px;}
}